html{
    background-color: var(--background-sistema);
}

.sections{
    background-color: var(--background-sistema);
}

.card{
    margin: 0 4rem; 
    background-color: none;
    border: none;
}

.card-body{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: var(--background-card);
    border-radius: 1rem;
    border: 1px solid var(--background-menu);
}

.cardAnswer, .cardAnswer section div {
    background-color: var(--background-objetos);
}

.divAnswer{
    display: flex; flex-direction: column; align-items: center;  margin: 0 5px;
    background-color: var(--background-card);
}

.Status{
    width: 5rem;
}

.inputValue, .inputValue-3E{
    width: 4rem;
    height: 3rem;
}

.Check{
    width: 10rem;
    height: 5rem;
}

.sec__Answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.tablaAutomata{
    text-align: center;
    margin-bottom: 1rem;
}

.tablaAutomata th{
    border: 2px solid #000000;
    padding: 1rem;
}

.tablaAutomata td{
    border: 2px solid #000000;
    padding: 0.5rem;
}

#transiciones, #transiciones-3E{
    font-size: 2rem;
    padding: 0 10rem;
    text-align: center;
}

.imgRute{
    width: 5rem;
}

#estadoFinal, #estadoFinal-3E {
    font-size: 2rem;
    margin-bottom: 2rem;
}

footer{
    background-color: antiquewhite;
}

