body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-sistema);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root{
    /*   --variable: valor;   */
    /*   Colores   */
    --background-sistema: rgb(198, 212, 212);
    --background-card: #ece5e5;
    --background-plantillas: #608296;
    --background-menu: #608296;
    --background-editor: #3d7392;
    --background-config: #83ADC5;
    --btn-cancel: #A76161;
    --btn-hoverCancel: #c91313;
    --btn-add:#77D1CC;
    --btn-hover:#c9e8ec;
    --background-objetos: #d9d9d9;
    --background-blanco: #FFFFFF;

    /*   Textos   */
    --montserrat: 'Montserrat', sans-serif;
    --karla: 'Karla', sans-serif;
}  